[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git

[submodule "content/themes/quarter"]
  path = content/themes/quarter
  url = git@code.schneidmaster.com:ventriloquist/quarter.git